.charts-container {
  display: inline-block;
  width: 100%;
  background-color: white;
  padding: 10px;
  .charts-title {
    padding: 10px 0;
    font-weight: 700;
    font-size: 25px;
  }
  .column-container {
    display: flex;
    justify-content: space-around;
    height: 300px;
  }
}
