@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
* {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
.App {
  height: 100%;
  display: flex;
  padding: 0 10%;
  // padding: 0 25px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  > * {
    margin: 50px 0;
  }
}
